/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --transparent: 0deg 0% 0% 0;
    --primary: 214deg 24% 21%;
    --secondary: 168deg 60% 31%;
    --background: 210deg 60% 98%;
    --white: 0deg 0% 100%;
    --shadow: 218deg 92% 95%;
  }

  body {
    font-family: "Inter", "serif";
  }
}

@layer components {
  .btn {
    @apply px-5 py-3 shadow-sm transition ease-in-out duration-300 rounded leading-snug whitespace-nowrap text-base font-semibold;
  }

  .btn.btn-sm {
    @apply px-4 py-2 text-sm bg-secondary hover:bg-secondary/50;
  }

  .btn.btn-lg {
    @apply text-lg px-8 text-white bg-secondary hover:bg-secondary/50;
  }
}
